/* Monochromatic colors
#94A6E8 = logo blue, lighter
#4D6EE3 = logo blue
#3C55B0 = logo blue, darker
#404763 = logo blue, darker, deep grey-blue
#223063 = logo blue, darkest, basically navy blue
*/

/* Complementary colors
#243D96 = logo blue, darker
#708FFF = logo blue, lighter
#4D6EE3 = logo blue
#967415 = logo blue, dark brown
#E3BB4D = logo blue, light brown
*/

.topNavBuffer {
  padding-top: 2.5em;
}

.gritLogoBackground {
  background-image: url(../images/grit-logo/website-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: #94A6E8;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.gridWrapper h1 {
  color: white;
  text-decoration: none;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridWrapper a {
  text-decoration: none;
}

.gridBox {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  padding: 1em;
}

.libraryBackground {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/ancient-antique-architectural-design-442420.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.coffeeBackground {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/aroma-bean-beverage-279819.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navItem {
  display: block;
  float: left;
  margin-right: 1em;
}

.navImage {
  max-height: 2em;
  max-width: 2em;
  margin-bottom: 0;
  padding-top: 0.1em;
}

.topNav a {
  font-size: 1em;
  font-weight: bold;
}

.topNav {
  padding: 0.5em;
  width: 100%;
  display: block;
  overflow: auto;
  position: fixed;
  /* height: 400px; */
  background-color: white;
  /* clear: both; */
}

.blogRollupItem {
  border: 0.2em solid grey;
  margin: 0.5em;
  padding: 0.5em;
}