/* Monochromatic colors
#94A6E8 = logo blue, lighter
#4D6EE3 = logo blue
#3C55B0 = logo blue, darker
#404763 = logo blue, darker, deep grey-blue
#223063 = logo blue, darkest, basically navy blue
*/

/* Complementary colors
#243D96 = logo blue, darker
#708FFF = logo blue, lighter
#4D6EE3 = logo blue
#967415 = logo blue, dark brown
#E3BB4D = logo blue, light brown
*/

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

section {
  padding-bottom: 2em;
}

hr {
  color: #E3BB4D;
}

.hide {
  display: none;
}

.center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.attnButton {
  border-radius: 0.5em;
  color: white;
  background-color: #4D6EE3;
  font-weight: bold;
  border: 1px solid;
  font-size: 1.1em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em #967415;
  text-shadow: 1px 1px 1px black;
  transition: background-color 0.4s;
}

.attnButton:hover {
  color: white;
  transition: background-color 0.4s;
  background-color: #967415;
  font-weight: bold;
  border: 1px solid;
  font-size: 1.1em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em #967415;
  cursor: pointer;
}

.footnote {
  color: grey;
  font-size: 0.7em;
}

.sitemap .right {
  float: right;
  width: 45%;
  max-height: 150px;
}


.sitemap .right .logo {
  float: right;
  max-height: 150px;
  max-width: 150px;
}

.sitemap .left {
  float: left;
  width: 45%;
}

.sitemap .navItem {
  width: 100%;
}

.sitemap {
  padding: 2em;
  font-size: 0.8em;
}

.right {
  float: right;
}

.gridBanner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 400px;
}

.bannerContent {
  text-decoration: none;
  position: relative;
  float: left;
  padding-top: 60px;
  padding-left: 10%;
  padding-right: 30%;
  color: white;
}

.bannerContent button {
  border-radius: 0.5em;
  color: white;
  background-color: #4D6EE3;
  font-weight: bold;
  border: 1px solid;
  font-size: 1.2em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em #967415;
  text-shadow: 1px 1px 1px black;
  transition: background-color 0.4s;
}

.bannerContent button:hover {
  color: white;
  transition: background-color 0.4s;
  background-color: #967415;
  font-weight: bold;
  border: 1px solid;
  font-size: 1.2em;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em #967415;
  cursor: pointer;
}

.banner {
  /* width: 100%; */
  /* height: 400px; */
  /* border: 2px solid pink; */
  margin: auto;
  /* text-align: center; */
  vertical-align: middle;
}

.deskBackground {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/background-beverage-brown-414645.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.infoSection {
  text-align: left;
  padding: 2em;
  max-width: 960px;
}

.textCalloutSection {
  text-align: center;
  padding: 1.5em;
  max-width: 800px;
  margin: 0 auto;
}

.topNavBuffer {
  padding-top: 2.5em;
}

.gritLogoBackground {
  background-image: url(../images/grit-logo/website-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: #D6DFFF;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  max-width: 960px;
  margin: auto;
}

.gridWrapper h1 {
  color: white;
  text-decoration: none;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.gridWrapper a {
  text-decoration: none;
}

.gridBox {
  height: 300px;
  padding: 0.2em;
}

.gridboxCallout {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.gridWrapper span {
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridBox h1 {
  text-decoration: none;
}

.gridBox h1:hover {
  text-decoration: underline;
}

.libraryBackground {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/ancient-antique-architectural-design-442420.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.coffeeBackground {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(../images/aroma-bean-beverage-279819.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navItem {
  display: block;
  float: left;
  margin-right: 1em;
}

.navImage {
  max-height: 2em;
  max-width: 2em;
  margin-bottom: 0;
  padding-top: 0.1em;
}

.topNav a {
  color: #243D96;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

/* .topNav a:hover {
  background-color: #E3BB4D;
} */

.topNav {
  padding: 0.5em;
  width: 100%;
  display: block;
  overflow: auto;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.blogRollup .readMore {
  float: right;
}

.blogRollup {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.blogRollupItem .date {
  font-style: italic;
  color: grey;
  font-size: 0.8em;

}

.blogRollupItem {
  margin: auto;
  padding: 0 5%;
}